.git
.gitignore

node_modules
**/node_modules

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.cache
.turbo
.vite

dist
**/.cache

.replit
replit.md

*.local